<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="container-fluid">
            <a href="" class="navbar-brand">
                <svg class="bi me-2" width="26" height="26">
                    <use xlink:href="#house" />
                </svg> Home
            </a>
            <div>
                <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="!authenticated">
                    <li class="nav-item">
                        <a routerLink="/login" class="nav-link active">Iniciar Sessão</a>
                    </li>
                    <!--<li class="nav-item">
                        <a routerLink="/register" class="nav-link active">Registo</a>
                    </li>-->
                </ul>
                <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="authenticated">
                    <li class="nav-item">
                        <a routerLink="/login" class="nav-link active" (click)="logout()">Terminar Sessão</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="house" viewBox="0 2 16 16">
        <path
            d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z" />
    </symbol>
</svg>